# Learning Objectives

- Understand how to initialise arrays `list`, `tuple` (1-dimensional and 2-dimensional).
- Use arrays to solve problems

[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/beertino/MA321/blob/main/2025/Notes/Chapter%2010%20For%20List.ipynb)

# 11 List (`list`) as a Data Type
Lists are used to store multiple items in a single variable.

Lists are one of 4 built-in data types in Python used to store collections of data, the other 3 are **Tuple**, **Set**, and **Dictionary**, all with different qualities and usage.

Lists are created using square brackets. Run the code cells below.

In [ ]:
fruitlist = ["apple", "banana", "cherry", "durian"]
print(fruitlist)
print(type(fruitlist))

In [ ]:
primelist = [2, 3, 5, 7, 11, 13, 17, 19]
print(primelist)
print(type(primelist))

There are four collection data types in the Python programming language:

- **List** is a collection which is **ordered** and **mutable**. It **allows duplicate** members.
- **Tuple** is a collection which is **ordered** and **immutable**. It **allows duplicate** members.
- **Set** is a collection which is **unordered** and **immutable**. **No duplicate** members are allowed.
- **Dictionary** is a collection which is **ordered** and **mutable**. **No duplicate** members are allowed.

## 11.1 List Items are Ordered
List items are **ordered (indexed)**, similar to the characters in a string.

The first item has index `[0]`, the second item has index `[1]` etc. Alternatively, the last item has index `[-1]`, the second last item has index `[-2]` etc.

Run the code cells below.

In [ ]:
print(fruitlist[0], fruitlist[2])

In [ ]:
print(primelist[-1], primelist[-7])

We may also apply *slicing* on lists just like strings. Run the code cells below.

In [ ]:
print(primelist[1:5]) # from the 2nd item to the 6th item, excluding the 6th item
print(primelist[0:-1]) # from the 1st item to the last item, excluding the last item
print(primelist[:3]) # the first 3 items
print(primelist[-4:]) # the last 4 items

## 11.2 Lists are Mutable

Unlike strings, list are **mutable**. In other words, we are able to modify, add or remove items.

Run the code cells to observe the difference.

In [ ]:
mutable_list = ["a", "b", "c"]
mutable_list[0] = "d"
print(mutable_list)

In [ ]:
immutable_string = "abc"
immutable_string[0] = "d"
print(immutable_string)

#### Example 11.1

Write a function `swap_first_last()`, which
- takes in a list
- returns the list after swapping its first and last items.

*Test Cases:*
```text
> swap_first_last([1, 3, 5, 7, 9])
[9, 3, 5, 7, 1]`

> swap_first_last(["apple", "banana"])
['banana', 'apple']`

> swap_first_last(["single item"])
['single item']`
```

In [ ]:
# code here

Unlike string methods, most of the list methods will change the list when used. The list of built-in methods for lists are as follows. To display this list in Python, simply run `help(str)`.

**Method**| **Description**
:---------| :-|
`append()`  | Adds an element at the end of the list, returns `None`
`clear()`   | Removes all the elements from the list, returns `None`
`copy()`	  | Does not change the list, returns a copy of the list
`count()`   | Does not change the list, returns the number of elements with the specified value
`extend()`  | Add the elements of a list (or any iterable) to the end of the current list, returns `None`
`index()`	  | Does not change the list, returns the index of the first element with the specified value
`insert()`  | Adds an element at the specified position, returns `None`
`pop()`     | Removes the element at the specified position, returns the element removed
`remove()`  | Removes the first item with the specified value, returns `None`
`reverse()` | Reverses the order of the list, returns `None`
`sort()`    | Sorts the list, returns `None`

If you need to view the details of a particular method, for example `append()`, you may simply run `help(list.append)`. We will explore how to use some of these list methods soon.

## 11.3 Number of Items in a List, `len()`
The **build-in function (not a method) `len()`** returns the number of itemsin a list as an integer. Run the following test code.

In [ ]:
print(len([11, 22, 33]))

fruitlist = ["apple", "banana", "cherry", "durian"]
print(len(fruitlist))

elist = []
n = len(elist)
print(n)

#### Example 11.2

Write a function `shorterlist()` which
- takes in two lists,
- returns the list which has fewer number of items between the two (if the two lists have the same number of items, you may return either one).

*Test Cases:*
```text
> shorterlist(["a","b","c"], ["abc"])  
['abc']

> shorterlist([], [0])  
[]
```

In [ ]:
# code here

#### Example 11.3

Write a function `shortestlist()` which
- takes in four lists,
- returns the list which has least number of items among them (if one or more lists have the fewest, you may return any of them).

You are expected to use the function `shorterlist()` in your code.

*Test Cases:*
```text
> shortestlist([1], [2, 3, 4, 5], [6, 7], [8, 9, 10])
[1]

> shortestlist(["AB"], ["A"], [""], [])
[]
```

In [ ]:
# code here

## 11.4 Adding Items to a List

**Method**| **Description**
:---------| :-|
`append()`  | Adds an element at the end of the list, returns `None`
`extend()`  | Add the elements of a list (or any iterable) to the end of the current list, returns `None`
`insert()`  | Adds an element at the specified position, returns `None`

Run the following code cells to observe how these list methods work.

In [ ]:
# list.append()
primelist = [2, 3, 5, 7]
primelist.append(11)

print(primelist)

In [ ]:
# list.extend()
primelist = [2, 3, 5, 7]
moreprimes = [11, 13, 17, 19]
primelist.extend(moreprimes)

print(primelist)

In [ ]:
# list.insert()
fruitlist = ["apple", "banana", "cherry", "durian", "fig"]
fruitlist.insert(4, "elderberry") #inserting BEFORE index 4

print(fruitlist)

Be aware of difference in using `list.append` and `list.extend` on strings. Run the code cells and observe the difference.

In [ ]:
fruitlist1 = ["apple", "banana", "cherry", "durian", "elderberry"]
fruitlist1.append("fig")
print(fruitlist1)

In [ ]:
fruitlist2 = ["apple", "banana", "cherry", "durian", "elderberry"]
fruitlist2.extend("fig")
print(fruitlist2)

#### Example 11.4

Write a program which
- continuously prompts the user to input his/her top few choices of food ,
- stores the food choices entered in the input into a list
- print the list containing all the entries when the user input an empty string.

*Sample Test:*
```text
Food choice: Beef noodle
Food choice: Steam boat
Food choice: Fried Rice
Food choice: BBQ
Food choice: 
['Beef noodle', 'Steam boat', 'Fried Rice', 'BBQ']
```

In [ ]:
# code here

## 11.5 Removing Items from a List

**Method**| **Description**
:---------| :-|
`pop()`     | Removes the element at the specified position, returns the element removed
`remove()`  | Removes the first item with the specified value, returns `None`

Run the following code cells to observe how these list methods work.

In [ ]:
#list.pop()
fruitlist = ["apple", "banana", "cherry", "durian"]

fruitlist.pop(2)
print(fruitlist)

In [ ]:
#list.remove
fruitlist = ["apple", "banana", "cherry", "durian"]

fruitlist.remove("banana")
print(fruitlist)

Unlike many other list methods, `list.pop()` has a return value for the item removed. Try the code below.

In [ ]:
fruitlist = ["apple", "banana", "cherry", "durian"]

removed = fruitlist.pop(2)
print(removed, fruitlist)

In contrast, `list.remove()` has no (`None`) return value.

In [ ]:
fruitlist = ["apple", "banana", "cherry", "durian"]

x = fruitlist.remove("banana")
print(x, fruitlist)

`list.remove()` only removes the **first** item with the specified value. For example,

In [ ]:
banana_list = list("banana")
print(banana_list)

banana_list.remove("a")
print(banana_list)

#### Example 11.5

The following code can be used to generate a random integer between 1 and 6 (inclusive).
```python
import random
x = random.randint(1,6)
```
##### Part(i)

Write a function `init()` which
- takes in a positive integer `n`,
- generates a list of `n` random integers between 1 and 6 (inclusive) and returns this list. The list may contain duplicate values.

*Sample Tests:*
```text
> init(20)
`[2, 3, 1, 3, 5, 3, 5, 5, 2, 6, 2, 3, 4, 6, 2, 4, 3, 1, 5, 1]`

> init(6) 
[2, 3, 4, 3, 2, 6]

> init(1)
[5]
```

In [ ]:
# code (i)

##### Part (ii)

Write a function `delete()` which
- takes in a list of integers between 1 and 6 (may contain duplicate), and an integer `x` between 1 and 6 inclusive,
- removes all the `x`s from the list and returns the resultant list.

*Sample Tests:*
```text
> delete([1, 2, 3, 1, 2], 1) 
[2, 3, 2]

> delete([4, 5, 6, 5, 3, 4, 1], 6) 
[4, 5, 5, 3, 4, 1]

> delete([4, 3, 1, 6, 3, 2, 2], 5) 
[4, 3, 1, 6, 3, 2, 2]

> delete(init(20), 3)
[2, 4, 4, 6, 4, 1, 6, 2, 5, 6, 6, 6, 5, 1, 6, 5, 5]
```

In [ ]:
# code (ii)

## 11. 6 `for`-loop for Lists

Similar to `str`, `list` is also an iterable data type which we may apply `for`-loop on it. Recall its syntax and visual representation.

***Syntax***
```python
for an_iterating_variable in an_iterable :
    
    <statements in the body of the for-loop until the entire iterable is exhausted>
    
<statements after the loop>
```
<p><img alt="Flowchart_FOR_Loop" src="https://drive.google.com/uc?id=1aTcdz9ofa-UiOyUANuHVQlxgKYGcFx1O" width = "500" align="centre" vspace="0px"></p>

Run the following code cells to see some examples.

In [ ]:
fruitlist = ["apple", "banana", "cherry", "durian"]

for fruit in fruitlist:
    print(f"I like {fruit}.")

In [ ]:
marks = [67, 81, 45, 91, 62, 73, 77, 58]

total = 0

for m in marks:
    total = total + m

print(sum)

#### Example 11.6

Write a function `int_list()` which
- takes in a list,
- return the list containing only the `int` data type items.

*Test Cases:*
- `int_list([1, "2", 3.0])` should return `[1]`
- `int_list([-1, 2022, 2])` should return `[-1, 2022, 2]`
- `int_list(["", "b", "2022", 0.1])` should return `[]`

In [ ]:
# code here

**Example 11.6** has a shorter solution using **list comprehension**. Refer to the code below.

In [ ]:
def int_list(thislist):
    
    return [x for x in thislist if type(x) is int]

#### Example 11.7

Write a function `longest_str()` which
- takes a non-empty list of strings,
- return the longest string (you may return any of the longest strings if the answer is not unique).

*Test Cases:*
- `longest_str(["a c", "de", "f"])` should return `'a c'`
- `longest_str(["long", "longer", "longest"])` should return `'longest'`

In [ ]:
# code here

## 11.7 `range()`

**`range()`** is an important function which creates a sequence of numbers.

***Syntax***
```python
range(start = 0, stop, step = 1)
```
**parameter**| **Description**
:---------| :-|
`start`     | optional, default starting value is 0
`stop`      | required, the ending value **not inclusive**
`step`      | optional, default step size is 1

For example, `range(10)` will create a sequence of consecutive numbers **from 0 to 9**.

In [ ]:
x = range(10)
print(x)
print(type(x))

A `range` data type can be casted to a `list` using `list()`. For example,

In [ ]:
x = range(10)
l = list(x)
print(l)

Use the coding cell below to observe the sequence of numbers generated by each of the following `range()` functions, by converting them to lists.

```python
range(1, 5)
range(1, 11, 2)
range(50, 40, -1)
```

In [ ]:
# try here

#### Example 11.8

Write a program to generate the list of positive integers below 100 that are multiples of 7. Print this list.

In [ ]:
# code here

A `range` type is also an iterable. Thus, we may use `for`-loop on it without converting it to a list. Try the code below.

In [ ]:
fruitlist = ["apple", "banana", "cherry", "durian"]

l = len(fruitlist)

for i in range(l):
    
    print("I like", fruitlist[i])

#### Example 11.9

Write a function `compare_list()` which
- takes in two lists `l1` and `l2` of integers,
- creates and returns a new list based on the following rules.
    - the first item will be 1, if the first item in `l1` is greater than the first item in `l2`;
    - the first item will be -1, if the first item in `l1` is less than the first item in `l2`;
    - the first item will be 0, if the first items in the two lists are equal.
    - repeats for the second item, third item, ... until the end of the shorter list between `l1` and `l2`.
    - ignore the remaining items in the longer list.

*Sample Tests:*
- `compare_list([1, 2, 3], [3, 2, 1, 0])` should return `[-1, 0, 1]`
- `compare_list([1, 3, 5, 7, 9], [-1, -3])` should return `[1, 1]`
- `compare_list([5, 5], [5])` should return `[0]`

In [ ]:
# code here

## 11.8 Sorting a List
Python provides two different, inbuilt ways to sort a list, in ascending order by default.

### 11.8.1 Built-in Method `list.sort()`
***Syntax:***
```python
list.sort(key = None, reverse = False)
```

Run the code cells below.

In [ ]:
num_list = [2, -1, 0, -3, 4]

num_list.sort()
print(num_list)

In [ ]:
str_list = ["A", "B", "a", "AB", "ABC"]

str_list.sort()
print(str_list)

By setting the value of `reverse` to `True`, the list will be sorted in descending order.

In [ ]:
float_list = [0.1, 0.01, 0.09, 0.9]

float_list.sort(reverse = True)
print(float_list)

Use the `key` parameter to set the **built-in** or **user-defined** function to compare each element of a list and sort it. For example, the following uses the built-in `len()` function that returns the length of each element and sorts based on the length of each element.

Run the code below.

In [ ]:
fruit_list = ["apple", "banana", "cherry", "durian", "elderberry", "grape"]

fruit_list.sort(key = len)
print(fruit_list)

#### Example 11.10

Write a function `distance()`, which
- takes in the coordinates of a point on the xy-plane,
- returns the distance between the point and the origin.

Then use the function `distance` to sort the following list of points in *descending* order of distance from the origin.
```python
points = [(2, 5), (-1, -6), (-3, 4), (0, -7)]
```

Note: `(2, 5)` is a **tuple** which is similar to a list except it is **immutable**.

After sorting, the expected output should be `[(0, -7), (-1, -6), (2, 5), (-3, 4)]`.

In [ ]:
def distance(point):
    # calculate and return the distance

points = [(2, 5), (-1, -6), (-3, 4), (0, -7)]

# sort the points in the list
print(points)

### 11.8.2 Built-in Function `sorted()`

***Syntax:***
```python
sorted(iterable, key = None, reverse = False)
```

The built-in function `sorted` works in a similar way, except that **it will not modify the original list**. Instead, the sorted list will be generated as its returned value.

Try the code cells below.

In [ ]:
num_list = [2, -1, 0, -3, 4]

new_list = sorted(num_list)
print(num_list)
print(new_list)

In [ ]:
str_list = ["A", "B", "a", "AB", "ABC"]

new_list = sorted(str_list)

print(str_list)
print(new_list)

In [ ]:
float_list = [0.1, 0.01, 0.09, 0.9]

new_list = sorted(float_list, reverse = True)

print(float_list)
print(new_list)

In [ ]:
fruit_list = ["apple", "banana", "cherry", "durian", "elderberry", "grape"]

new_list = sorted(fruit_list, key = len)

print(fruit_list)
print(new_list)

#### Example 11.11

Write a function `sum_digit()` which returns the sum of digits of the positive integers taken in.

Then write a function `sum_digit_sort()` which
- takes in a list of positive integers, and a boolean value `rev` with default value `False`.
- returns the sorted list in ascending (when `rev` is `False`) or descending (when `rev` is `True`) order of sum of digits.

*Test Cases:*
- `sort_sum_digit([456, 89, 1000], True)` should return `[89, 456, 1000]`
- `sort_sum_digit([456, 89, 1000], False)` should return `[1000, 456, 89]`
- `sort_sum_digit([123, 45, 7])` should return `[123, 7, 45]`

In [ ]:
# code here

## 11.9 Nested List
Items in a list can also be lists, making the list a nested list. For example,
```python
nested_list = [[1, 2], [3, 4, 5], [6]]
```
Run the code cells below.

In [ ]:
nested_list = [[1, 2], [3, 4, 5], [6]]
print(nested_list[0])
print(nested_list[1])
print(nested_list[2])
print(len(nested_list))

In [ ]:
print(nested_list[0][0])
print(nested_list[0][1])
print(nested_list[1][0])
print(nested_list[1][1])
print(nested_list[1][2])
print(nested_list[2][0])

Recall that the data types of the items in a list need not be the same, so lists like the following example are acceptable though not often in use.
```python
not_so_common_list = [1, 2.34, [5, 6, 7], True, "890A"]
```

Nested lists can be helpful if we want to represent matrices (in mathematics), tables of data and chessboard status.

In the following code cell, the nested list `name_height_mass` stores the names, heights (in metres) and mass (in kilograms) of some students. Run it before attempting the example.

In [ ]:
name_height_mass = [
    ["Alex", 1.78, 76.2],
    ["Bob", 1.71, 62.9],
    ["Charmaine", 1.59, 41.1],
    ["Deon", 1.64, 49.8],
    ["Elizabeth", 1.55, 42.2],
    ["Felix", 1.88, 94.1],
    ["Grace", 1.58, 39.5],
    ["Harrison", 1.77, 72.1],
    ["Isabella", 1.6, 47.8],
    ["Joshua", 1.66, 51.2]
]

#### Example 11.12 (a)

Write a function `search()` which
- takes in the list `name_height_mass` and a string representing a name,
- returns the list containing the name, height and mass of the student if the name (case-sensitive) can be found; returns `False` otherwise.

*Test Cases:*
- `search(name_height_mass, "Bob")` should return `['Bob', 1.71, 62.9]`
- `search(name_height_mass, "James")` should return `False`
- `search(name_height_mass, "deon")` should return `False`

In [ ]:
# code here

#### Example 11.12 (b)

Write a function `sort_height()` which
- takes in the list `name_height_mass`,
- returns the sorted list in ascending order of heights.

Hint: you may need to write another function to help you.

The expected return value is
```python
[['Elizabeth', 1.55, 42.2],
 ['Grace', 1.58, 39.5],
 ['Charmaine', 1.59, 41.1],
 ['Isabella', 1.6, 47.8],
 ['Deon', 1.64, 49.8],
 ['Joshua', 1.66, 51.2],
 ['Bob', 1.71, 62.9],
 ['Harrison', 1.77, 72.1],
 ['Alex', 1.78, 76.2],
 ['Felix', 1.88, 94.1]]
```

In [ ]:
# code here

#### Example 11.12 (c)

Write a function `overweight()` which
- takes in the list name_height_mass
- calculates the body mass index (BMI) of each student in the list, then returns the list of names of overweight students (i.e. BMI higher than 25).

The formula to calculate BMI is $$BMI = \frac{\text{mass}}{\text{height} \times \text{height}}. $$

The expected return value of `overweight(name_height_mass)` is `['Felix']`.

In [ ]:
# code here

Another example is in a Tic-Tac-Toe game (https://en.wikipedia.org/wiki/Tic-tac-toe), we need to find a good representation of the chessboard at any stage of the game.

A nested list is one of the possible choices. We may assign the values in the nested list as follows.

<center>
<img alt="TTT_000000000" src="../src/toe_board_1" width = "90" align="left" vspace="0px">
</center>

```python
chessboard = [[0, 0, 0],
              [0, 0, 0],
              [0, 0, 0]
             ]
```

<center>
<img alt="TTT_000000000" src="../src/toe_board_2" width = "90" align="left" vspace="0px">
</center>

```python
chessboard = [[0, 0, 1],
              [1, 2, 2],
              [0, 0, 0]
             ]

```

<center>
<img alt="TTT_000000000" src="../src/toe_board_3" width = "90" align="left" vspace="0px">
</center>

```python
chessboard = [[2, 2, 1],
              [1, 2, 2],
              [2, 1, 1]
             ]
```

**Example 10.13 (a)**

Using this approach, assign the values of the nested list `chessboard` for the following stage.
<p><img alt="TTT_100010221" src="https://drive.google.com/uc?id=1Dz-rSSsnGM49C2Y4VYaY9aQXNuXQCeTc" width = "90" align="center" vspace="0px"></p>

In [ ]:
# code here

**Example 10.13 (b)**

Write a function `determine_winner()` which
- takes in the nested list representing a stage of the Tic-Tac-Toe game,
- determines the winner and returns the corresponding value,
-- if O has won, returns 1;
-- if X has won, returns 2;
-- if the chessboard has been filled up but it is a tie, returns -1;
-- otherwise, the game is still ongoing, returns 0.

*Sample Tests:*
```Python
determine_winner([[1, 0, 0], [0, 1, 0], [2, 2, 1]]) should return 1
determine_winner([[2, 2, 1], [1, 2, 2], [2, 1, 1]]) should return -1
determine_winner([[0, 0, 1], [1, 2, 2], [0, 0, 0]]) should return 0
determine_winner([[2, 1, 0], [2, 0, 1], [2, 1, 0]]) should return 2
determine_winner([[2, 1, 2], [1, 1, 1], [2, 2, 0]]) should return 1
```

In [ ]:
# code here

# Copying a List is Special

Most of the data types pass values in assignment statements.

Run the following code cells.

In [ ]:
# integers and floats
n1 = 3
n2 = n1
n1 = 5
print(n1, n2)

f1 = 3.14
f2 = f1
f2 = 4.14
print(f1, f2)

In [ ]:
# strings and booleans
s1 = "abc"
s2 = s1
s1 = "ABC"
print(s1, s2)

b1 = True
b2 = b1
b2 = False
print(b1, b2)

Unlike the above data types, lists behave very differently because reference is being passed in assignment statement.

Run the code below.

In [ ]:
s1 = [1, 2, 3]
s2 = s1
s1.append(4)
print(s1, s2)

In [ ]:
s1 = ["a", "b", "c"]
s2 = s1
s2.remove("b")
print(s1, s2)

This issue can be resolved by using the list method `copy()`.

**Method**| **Description**
:---------| :-|
copy()	  | Does not change the list, returns a copy of the list

Run the code below.

In [ ]:
s1 = [1, 2, 3]
s2 = s1.copy()
s1.append(4)
print(s1, s2)

In [ ]:
s1 = ["a", "b", "c"]
s2 = s1.copy()
s2.remove("b")
print(s1, s2)

**Example 10.14 (Revisit Assignment 10B Q1)**

Write a function `replace()` which
- takes in 3 arguments, a list `str_list` of strings, and two strings `old` and `new`.
- replaces all items having the same value as `old` with the `new` in `str_list`, and returns the resultant list.

Below are two possible ways to code the function.

Insert the following sample test in each of the coding cells, then determine which method will modify the original string after calling the function.
```python
old_string = ["1", "2", "3"]
new_string = replace(old_string, "1", "0")
```
For the method that will alter the original string, use the list method `copy()` to resolve the issue.

In [ ]:
# Method 1
def replace(str_list, old, new):
    
    for i in range(len(str_list)):
        
        if str_list[i] == old:
            str_list[i] = new
    
    return str_list

In [ ]:
#Method 2
def replace(str_list, old, new):
    
    new_list = []
    
    for s in str_list:
        
        if s == old:
            new_list.append(new)
        else:
            new_list.append(s)
            
    return new_list

In [ ]:
# Improved version for the method identified